# DAY-2 ASSIGNMENT

# List and its default functions

In [1]:
lst=["vandu",3,"2000",34.5]

In [2]:
lst

['vandu', 3, '2000', 34.5]

DEFAULT FUNCTIONS

In [3]:
lst.append("BTS")  #append - To add any data at the end of the list

In [4]:
lst

['vandu', 3, '2000', 34.5, 'BTS']

In [5]:
lst.pop()   #pop - To pop out the data from the list

'BTS'

In [6]:
lst

['vandu', 3, '2000', 34.5]

In [7]:
lst.remove(3)   #remove - To remove the particular data from the list

In [8]:
lst

['vandu', '2000', 34.5]

In [9]:
lst.reverse()  #reverse - To reverse the data in the list

In [10]:
lst

[34.5, '2000', 'vandu']

In [11]:
lst.clear()  #clear - to clear the data from the list

In [12]:
lst

[]

# Dictionary and its default functions

In [13]:
dit={"group":"BTS","memb":7,"leader":"RM"}

In [14]:
dit

{'group': 'BTS', 'memb': 7, 'leader': 'RM'}

Default functions

In [15]:
dit.keys()             #keys - To get the keys

dict_keys(['group', 'memb', 'leader'])

In [16]:
dit.items()             #items - show the items

dict_items([('group', 'BTS'), ('memb', 7), ('leader', 'RM')])

In [20]:
dit.popitem()             #popitem - pop the item(last one)

('leader', 'RM')

In [21]:
dit

{'group': 'BTS', 'memb': 7}

In [25]:
dit.values()                #values - To get the values

dict_values(['BTS', 7])

In [26]:
d1={"company":"Bighit"}

In [27]:
d1

{'company': 'Bighit'}

In [29]:
dit.copy()

{'group': 'BTS', 'memb': 7}

In [30]:
dit=d1.copy()             #copy - it copies the values from the other/given dict

In [31]:
dit

{'company': 'Bighit'}

# Sets and its default functions

In [32]:
s1={"python",1,2,3,1,2,6,8,34.5}

In [33]:
s1

{1, 2, 3, 34.5, 6, 8, 'python'}

Default functions

In [36]:
s1.add(60)         #add - to add the in the item in the set

In [37]:
s1

{1, 2, 3, 34.5, 6, 60, 8, 'python'}

In [38]:
s1.pop()         #pop - to pop the item from the set

1

In [39]:
s1

{2, 3, 34.5, 6, 60, 8, 'python'}

In [42]:
s2={1,2,3,1,1,60,"google"}

In [43]:
s2

{1, 2, 3, 60, 'google'}

In [44]:
s2.issubset(s1)       #issubset

False

In [45]:
s3={1,2,3}

In [46]:
s3

{1, 2, 3}

In [47]:
s3.issubset(s2)

True

In [48]:
s1.union(s2)             #union

{1, 2, 3, 34.5, 6, 60, 8, 'google', 'python'}

In [49]:
s2.intersection(s3)      #intersection

{1, 2, 3}

# Tuple and its default methods

In [50]:
tup=(5,6,2000)

In [51]:
tup

(5, 6, 2000)

Default methods

In [54]:
tup.index(5)        #index - to find the index of the given value

0

In [55]:
tup.index(2000)

2

In [59]:
t1=(2,5,2,5,5,6,2022)

In [60]:
t1

(2, 5, 2, 5, 5, 6, 2022)

In [61]:
t1.count(2)     #count - to find how many times a value is repeated

2

In [62]:
t1.count(5)

3

# String and its default methods

In [63]:
st="zain imam"

In [64]:
st

'zain imam'

Default functions

In [65]:
st.upper()         #upper - changes the data into upper case

'ZAIN IMAM'

In [66]:
st.lower()        #lower - changes the data into lower case

'zain imam'

In [67]:
st.capitalize()     #capitalize - capitalize the data

'Zain imam'

In [68]:
st1=2020

In [69]:
st1

2020

In [70]:
st1.bit_length()   #bit_length

11

In [71]:
st.swapcase()       #swapcase - swap the case acc to the original data

'ZAIN IMAM'

In [72]:
st2="hyy guys"

In [73]:
st2

'hyy guys'

In [74]:
st2.split('y')    #splits - splits the data

['h', '', ' gu', 's']

In [75]:
st2.islower()    #is lower - checks whether the data is in lower case or not

True