# DAY-3 ASSIGNMENT

# ASSIGNMENT 1

In [1]:
# LANDING THE PLANE :

In [2]:
a=int(input("enter the altitude-"))
if a<=1000:
    print("land the plane")
elif a>1000 and a<5000:
    print("come down to 1000ft")
elif a>5000:
    print("go around and try later")

enter the altitude-1500
come down to 1000ft

# ASSIGNMENT 2

In [3]:
# PRIME NUMBERS :

In [6]:
print("Prime Numbers in the range (1,200)")
for n in range(1,200):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                break
        else:
            
            print(n)

Prime Numbers in the range (1,200)
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199